@import './variables';
@import './gameboardUI';

.game {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 32px 128px;

	.player-side {
		display: flex;
		flex-direction: column;
		gap: 16px;
		align-items: center;

		.player-name {
			color: $color-dark;
			font-size: 1.8rem;
			font-weight: 700;
		}

		.gameboard-container {
			margin-right: $cell-size;
			width: calc($cell-size * 11);
			height: calc($cell-size * 11);
		}
	}

	.winner-label {
		grid-column: 1/3;
		font-size: 2rem;
		justify-self: center;
		text-align: center;
	}

	.new-game-btn {
		grid-column: 1/3;
		justify-self: center;
		font-size: 2rem;
		margin-bottom: 32px;

		width: 256px;
		height: 64px;

		border: none;
		border-radius: 12px;
		background-color: $color-main;
		color: $color-black;
		transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;

		&:hover {
			cursor: pointer;
			background-color: $color-dark;
			color: $color-white
		}
	}

	.gameboard .gameboard-grid {

		&.revealed {
			.gameboard-grid-cell.ship {
				z-index: 1;
				border: 3px dashed $color-dark;
				outline: 2px solid $color-dark;
			}
		}

		&.active {
			outline-color: $color-main;
			
			.gameboard-grid-cell {
				&:hover:not(.hit) {
					z-index: 1;
					border: 3px solid $color-dark;
					outline: 3px solid $color-dark;
					cursor: pointer;
				}
			}
		}

		.gameboard-grid-cell {
			&.hit {
				background-color: $color-main;
				&.damaged {
					background-color: $color-accent;
					&.destroyed {
						z-index: 1;
						background-color: $color-dark;
						outline: 3px dashed $color-dark;
					}
				}	
			}	
		}
	}
}

