@import './variables';
@import './gameboardUI';

.gameboard-editor {
	grid-row: 2;
	display: grid;
	grid-template-columns: max-content max-content;
	gap: 64px;

	.gameboard-container {
		grid-column: 1;
		min-width: calc($cell-size * 11);
		min-height: calc($cell-size * 11);
		
		.gameboard .gameboard-grid .gameboard-grid-cell {
			position: relative;

			&.ship {
				background-color: $color-dark;
			}

			&.drag-over {
				background-color: $color-main;
			}

			.ship-placeable {
				z-index: 1;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}

	.ships-container {
		grid-column: 2;
		height: 100%;
		width: 390px;

		border: 3px dotted $color-main;
		padding: 12px;

		.ship-placeable {
			margin: 12px;
		}

		&::before {
			display: block;
			content: 'Place your ships';
			text-align: center;
			color: $color-main;
			margin-bottom: 42px;
		}
	}
	
	.ship-placeable {
		display: inline-block;
		height: $cell-size;
		background-color: $color-dark;
		transform-origin: calc($cell-size / 2) calc($cell-size / 2);
		cursor: move;

		&.moving, &.placed {
			&.vertical {
				transform: rotate(90deg);
			}
		}

		&.moving {
			display: none;
			cursor: grabbing;
		}

		&[ship-size='1'] {
			width: $cell-size - 2px;
		}
		&[ship-size='2'] {
			width: calc($cell-size * 2 - 2px);
		}
		&[ship-size='3'] {
			width: calc($cell-size * 3 - 2px);
		}
		&[ship-size='4'] {
			width: calc($cell-size * 4 - 2px);
		}
		
	}
}

