@import './variables';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, button, input {
	font-family: $font-main;
	color: $color-black;
}

body {
	background-color: $color-white;
}

main {
	margin: 0 auto;
	margin-top: 32px;
	width: max-content;
	display: flex;
	flex-direction: column;
	gap: 32px;
	justify-items: center;
	

	.title {
		grid-area: title;
		font-size: 5rem;
		font-family: $font-black-ops;
		text-transform: uppercase;
		text-align: center;
	}

	#setup-container {
		display: none;
		&.active {
			display: block;
		}
	}

	#game-container {
		display: none;
		&.active {
			display: block;
		}		
	}
}