@import './variables';

.setup-display {
	display: grid;
	grid-template-columns: 1fr;
	gap: 32px;
	justify-items: center;
	font-size: 2rem;

	label {
		grid-row: 1;

		input {
			border: none;
			border-bottom: 2px solid $color-dark;
			width: 12ch;
			font-size: 2rem;
			text-align: center;
			
			&:focus {
				outline: none;
			}
		}
	}

	.editor-container {
		min-width: max-content;
		min-height: max-content;
	}

	.buttons-container {
		grid-row: 3;
		display: flex;
		gap: 64px;

		button {
			border: none;
			border-radius: 12px;
			background-color: $color-main;
			width: 256px;
			height: 64px;
			font-size: 1.5rem;
			transition: color 0.2s ease-in-out, background-color 0.3s ease-in-out;
	
			&:hover {
				cursor: pointer;
				background-color: $color-dark;
				color: $color-white;
			}
		}
	}

	
}