@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Chivo+Mono:wght@400;700&display=swap');

$color-black: #293241;
$color-accent: #EE6C4D;
$color-main: #98C1D9;
$color-dark: #3D5A80;
$color-white: #FFFFFF;

$font-black-ops: 'Black Ops One', cursive;
$font-main: 'Chivo Mono', monospace;

$cell-size: 48px;
